@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #462069;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #462069;
  display: none;
}

.container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  text-align: center;
  background-color: #583678;
  color: #fd925c;
  font-family: 'Exo', sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 5px;
  margin-bottom: 20px;
  border: solid 2px #000;
  width: 331px;
  height: 94px;
  font-weight: 700;
}

button:active {
  background-color: hsla(271, 38%, 34%, 0.4);
  color: hsla(20, 98%, 68%, 0.4);
}

.close {
  height: 39px;
  width: 39px;
  margin-left: 90%;
  cursor: pointer;
}
.close:active {
  background-color: red;
}

main {
  text-align: center;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  background-color: #462069;
  color: #da98f1;
}

footer {
  background: #140e26;
  height: 90px;
  display: flex;
  justify-content: center; /* horizontally center items */
  align-items: center; /* vertically center items */
  text-align: center;
}

footer h4 {
  color: #999;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  font-size: 12px;
  max-width: 140px;
  word-break: normal;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0 10px; /* add some space between icons and text */
}

h1,
h2,
h3 {
  font-family: 'Exo', sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fd925c;
}

/** SLIDER BLOCK **/
.title {
  font-size: 40px;
}

.title__h2 {
  font-size: 30px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding: 3em 0 3em 0;
}

.section__block {
  background: rgba(217, 217, 217, 0.1);
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  padding: 0 2% 3em 2%;
  max-width: 300px;
  margin: 0 auto;
}

.img__con {
  max-width: 90%;
}

.img__para {
  max-width: 250px;
}

.arrow__con {
  padding-top: 3em;
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
}

.image {
  width: 100%;
}

.block--parasite,
.block--webavis {
  display: none;
}

.header__desktop {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
}

@media only screen and (min-width: 1000px) {
  main {
    padding-top: 10em;
  }

  .img__con {
    max-width: 100%;
  }

  .section__block {
    max-width: 1000px;
    padding: 0 10% 3em 10%;
  }

  .arrow__con {
    width: 100%;
  }

  .arrow__right,
  .arrow__left {
    cursor: pointer;
  }

  .header {
    display: none;
  }

  .header__desktop {
    display: block;
  }

  .header__desktop__nav {
    display: flex;
  }

  .header__desktop__ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
    font-family: 'Exo', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fd925c;
    font-size: 30px;
    font-weight: 700;
  }

  .header__desktop__link {
    text-decoration: none;
    color: inherit;
  }

  .header__desktop__logo__con {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 0.5em 1em;
    max-width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .section__block {
    max-width: 500px;
  }
}
