* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #462069;
}

footer {
  background: #140e26;
  height: 90px;
  display: flex;
  justify-content: center; /* horizontally center items */
  align-items: center; /* vertically center items */
  text-align: center;
}

footer h4 {
  color: #999;
  font-family: 'Exo', sans-serif;
  text-decoration: none;
  font-size: 12px;
  max-width: 140px;
  word-break: normal;
}

footer img {
  width: 20px;
  height: 20px;
  margin: 0 10px; /* add some space between icons and text */
}

.header {
  width: 100%;
  background-color: #462069;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #462069;
  display: none;
}

button {
  text-align: center;
  background-color: #583678;
  color: #fd925c;
  font-family: 'Exo', sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  border: solid 2px #000;
  width: 331px;
  height: 94px;
  font-weight: 700;
}

button:active {
  background-color: hsla(271, 38%, 34%, 0.4);
  color: hsla(20, 98%, 68%, 0.4);
}

.close {
  height: 39px;
  width: 39px;
  margin-left: 90%;
  cursor: pointer;
}
.close:active {
  background-color: red;
}

.container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.body {
  color: #fd925c;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
  color: #da98f1;
  display: flex;
  flex-direction: column;
  gap: 5em;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.headline {
  color: #fd925c;
  font-size: 50px;
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

main {
  padding: 5em 0;
}

.header__desktop {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 99%;
}

.section__image__con {
  max-width: 100%;
}

.section__image__con img {
  width: 100%;
}

.del1text,
.del2text,
.del3text,
.del4text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.body section {
  padding-bottom: 3em;
}

@media only screen and (min-width: 1000px) {
  .body {
    max-width: 1000px;
    text-align: start;
  }

  .body section {
    display: flex;
    align-items: center;
    padding-bottom: 5em;
  }

  .del1text,
  .del2text,
  .del3text,
  .del4text {
    display: flex;
    flex-direction: column;
    gap: 2em;
    flex: 2;
  }

  .body section:nth-child(even) {
    flex-direction: row-reverse;
  }

  .section__image__con {
    max-width: 100%;
    flex: 1;
  }

  #wrapper {
    max-width: 1000px;
  }

  .del1 img {
    max-height: 621px;
    max-width: 621px;
  }

  .header {
    display: none;
  }

  .header__desktop {
    display: block;
  }

  .header__desktop__nav {
    display: flex;
  }

  .header__desktop__ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    width: 100%;
    font-family: 'Exo', sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: #fd925c;
    font-size: 30px;
    font-weight: 700;
  }

  .header__desktop__link {
    text-decoration: none;
    color: inherit;
  }

  .header__desktop__logo__con {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 0.5em 1em;
    max-width: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  .body {
    padding-top: 7em;
  }

  section {
    max-width: 1000px;
  }

  h1,
  h2 {
    font-size: 50px;
  }

  p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 1000px) {
  .body {
    max-width: 400px;
  }
}
