@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #462069;
  --text-color: #da98f1;
  --title-color: #fd925c;
}

/** HEADER **/

.header {
  background-color: #462069;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}

.header__logo__con {
  max-width: 100%;
}

.header__image {
  width: 100%;
}

/** **/

.main__jobmuligheder {
  padding-top: 4em;
  font-family: 'Exo', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.section__para {
  font-family: 'JetBrains Mono', monospace;
}

.width__con {
  margin: 0 auto;
  max-width: 300px;
  padding: 2%;
  display: flex;
  flex-direction: column;
  gap: 3.5em;
}

.main__title,
.main__title,
.section__title {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: var(--title-color);
}

.section__title {
  padding-bottom: 2em;
}

.main__section {
  padding-bottom: 6em;
  border-bottom: 1px solid black;
}

.section__muligheder {
  border: none;
}

.section__google {
  z-index: 1;
}

.section__image__con--google {
  position: absolute;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.google__image {
  width: 100%;
  filter: blur(3px);
}

.section__list {
  list-style-type: none;
}
